#mainPopup {
  height: 400px;
  width: 350px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
.header {
  background-color: #B62029;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 10000000;
  top: 0;
}
.headerImage {
  height:45px;
  display: block;
  // margin: 0px auto;
  padding-top: 13px;
  /*padding-left: 5px;*/
  padding-left: 42px;
}
#itemList {
  margin: 72.5px 0px;
}
.itemCell {
  height:100px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #888888;
  transition: box-shadow 0.2s ease-in, border 0.2s ease-in;
  @for $i from 2 through 10 {
    &:nth-child(#{$i}) {
      webkit-vendor-animation-delay : ($i - 1) * 0.25s !important;
      animation-delay : ($i - 1) * 0.25s  !important;
    }
  }
  &:hover {
    // box-shadow: none;
  }
  .itemDetails {
    display: flex;
    justify-content: space-between;
    height: 100%
  }
  .itemActive { 
    display: flex;
    align-items: center;
    padding-right: 10px;
    #check_circle {
        color: rgba(182,32,41, 0.85);
        font-size: 24px;
    }
  }
}
#itemSummary {
    border-top: thin solid darkgrey;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
    #itemPriceLine {
        // padding: 0px 40px;
        display: flex;
        justify-content: space-between;
    }
    h2 {
        display: flex;
        align-items: center;
    }
    #money {
        color: darkgreen;
        margin-left: -40%;
    }
    #shopping_cart {
        color: white;
        margin-right: 7.5px
    }
    #payButton{
        width: 100%;
        #customButton {
            width: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;
            background-color: #b30000;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
        }
        span {
            text-align: center;
        }
    }
}
.itemThumbnail {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  object-fit: cover;
  border-right: 1px solid #d3d3d3;
}
.itemTitle {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 5px;
}
.itemPrice {
  font-size: 12px;
}
.itemActionButton {
  float: right;
}
h1 {
  font-size: 2em;
}
h3 {
  padding-top: 0px;
  padding-bottom: 0px;
}
body {
  padding: 0px;
  margin: 0px;
}
/* Spinner animation things */
.spinner {
  width: 45px;
  height: 45px;

  position: relative;
  margin: 0px auto;
  top: 200px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #B62029;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
