<!doctype html>
<html ng-app="sceneApp" ng-csp>
<head>
<title>Scene</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/scene.css">
<style type="text/css">

</style>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/angular/angular.min.js"></script>
<!-- JavaScript and HTML must be in separate files for security. -->
<script src="/js/popup.js"></script>
<script src="/js/angularApp.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body>
    <div id="mainPopup" ng-controller="ItemsController">
        <!-- <button id="btnCount" onclick="myFunction()">Click me</button>
        <p id="demo"></p> -->
				<div ng-hide="items.length" style="text-align: center;">
					<img src="/icons/sceneLogo.png" style="width:200px;display: block;margin: 50px auto;">
					<h2>There are no purchasable items on your screen!</h2>
					<!-- <button id="btnCount">click</button>
					<p id="demo"></p> -->
					<button ng-click="getData()">
					  Get Product
					</button>
				</div>
				<div ng-show="items.length">
					<div class="header"><img src="/icons/sceneLogoAlt.png" style="height:60px;display: block;margin: 0px auto;"></div>
					<div class="itemCell" ng-repeat="item in items">
						<img src="/icons/potato.jpg" alt="" class="itemThumbnail"/>
						<div class="itemTitle">{{item}}</div>
						<div class="itemPrice">Price</div>
						<div class="itemActionButton"></div>
					</div>
				</div>
    </div>
 </body>
</html>
